In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from core.embedding_models import FastTextEmbeddingModel
from core.models import LinearRegressionModel, CatboostRegressionModel

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [24]:
df = pd.read_csv("../data/data_vacancies.csv")
df.head()

,id,custom_position,schedule,salary_from,salary_to,salary_pay_type,offer_education_id,education_name,education_is_base,education_order_num,city_id,list_regions,work_skills,tags_id
0,48202096,Сварщик-сборщик,полный рабочий день,60000,120000,NaN,0,любое,True,0,2,[4],"['сварочные работы', 'сборка изделий по чертеж...",NaN
1,48202097,Сварщик-монтажник,полный рабочий день,60000,120000,NaN,0,любое,True,0,2,[4],"['монтажные работы', 'строительные работы', 'э...",NaN
2,48202098,Слесарь-сборщик,полный рабочий день,60000,80000,NaN,0,любое,True,0,2,[4],"['работа на фрезерных станках', 'слесарный рем...",NaN
3,48202356,Грузчик-упаковщик,частичная занятость,30000,35000,NaN,0,любое,True,0,1,[3],"['комплектация товара', 'маркировка', 'стрессо...","[6, 9]"
4,48202357,Грузчик-упаковщик,частичная занятость,30000,35000,NaN,0,любое,True,0,57,"[181, 182, 183, 185, 186, 187, 188, 189, 190, ...","['маркировка', 'стрессоустойчивость', 'погрузо...","[6, 9]"

In [25]:
df["salary_mean"] = (df.salary_from + df.salary_to) / 2
df["target"] = df.salary_mean
df = df[df.salary_mean < df.salary_mean.quantile(0.95)]

In [5]:
fasttext_embedding_model = FastTextEmbeddingModel()

In [26]:
lr_model = LinearRegressionModel(embedding_model=fasttext_embedding_model)

In [27]:
cols_to_concat = ["custom_position"]
df["combined_string"] = df[cols_to_concat].agg("\n".join, axis=1)

df["emb"] = df.combined_string.apply(lambda x: fasttext_embedding_model.generate(x))

In [28]:
lr_model.train(df)

Model trained
Test score is 16277.157743659482